<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>boss/gunHead</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{48,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{48,47}</string>
   </dict>
   <key>boss/gunHeadLeg</key>
   <dict>
    <key>frame</key>
    <string>{{0,79},{31,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{31,35}</string>
   </dict>
   <key>images/flying_platform0</key>
   <dict>
    <key>frame</key>
    <string>{{0,48},{54,30}}</string>
    <key>offset</key>
    <string>{-3,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{64,34}</string>
   </dict>
   <key>images/flying_platform1</key>
   <dict>
    <key>frame</key>
    <string>{{55,48},{52,29}}</string>
    <key>offset</key>
    <string>{-1,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{64,34}</string>
   </dict>
   <key>images/flying_platform2</key>
   <dict>
    <key>frame</key>
    <string>{{49,0},{52,30}}</string>
    <key>offset</key>
    <string>{-2,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{64,34}</string>
   </dict>
   <key>shield/shield0</key>
   <dict>
    <key>frame</key>
    <string>{{108,115},{23,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,30}</string>
   </dict>
   <key>shield/shield1</key>
   <dict>
    <key>frame</key>
    <string>{{0,149},{23,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,24}</string>
   </dict>
   <key>shield/shield10</key>
   <dict>
    <key>frame</key>
    <string>{{130,80},{23,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,31}</string>
   </dict>
   <key>shield/shield11</key>
   <dict>
    <key>frame</key>
    <string>{{32,79},{29,32}}</string>
    <key>offset</key>
    <string>{3,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>shield/shield12</key>
   <dict>
    <key>frame</key>
    <string>{{88,79},{19,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{19,30}</string>
   </dict>
   <key>shield/shield13</key>
   <dict>
    <key>frame</key>
    <string>{{62,79},{25,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{25,34}</string>
   </dict>
   <key>shield/shield14</key>
   <dict>
    <key>frame</key>
    <string>{{133,48},{21,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{21,31}</string>
   </dict>
   <key>shield/shield15</key>
   <dict>
    <key>frame</key>
    <string>{{126,0},{21,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{21,35}</string>
   </dict>
   <key>shield/shield16</key>
   <dict>
    <key>frame</key>
    <string>{{0,115},{23,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,33}</string>
   </dict>
   <key>shield/shield17</key>
   <dict>
    <key>frame</key>
    <string>{{32,112},{24,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{24,31}</string>
   </dict>
   <key>shield/shield18</key>
   <dict>
    <key>frame</key>
    <string>{{108,48},{24,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{24,31}</string>
   </dict>
   <key>shield/shield19</key>
   <dict>
    <key>frame</key>
    <string>{{62,114},{24,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{24,30}</string>
   </dict>
   <key>shield/shield2</key>
   <dict>
    <key>frame</key>
    <string>{{108,146},{23,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,24}</string>
   </dict>
   <key>shield/shield3</key>
   <dict>
    <key>frame</key>
    <string>{{108,80},{21,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{21,34}</string>
   </dict>
   <key>shield/shield4</key>
   <dict>
    <key>frame</key>
    <string>{{84,145},{23,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,26}</string>
   </dict>
   <key>shield/shield5</key>
   <dict>
    <key>frame</key>
    <string>{{132,115},{21,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{21,32}</string>
   </dict>
   <key>shield/shield6</key>
   <dict>
    <key>frame</key>
    <string>{{32,144},{23,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,30}</string>
   </dict>
   <key>shield/shield7</key>
   <dict>
    <key>frame</key>
    <string>{{102,0},{23,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,34}</string>
   </dict>
   <key>shield/shield8</key>
   <dict>
    <key>frame</key>
    <string>{{88,110},{19,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{19,28}</string>
   </dict>
   <key>shield/shield9</key>
   <dict>
    <key>frame</key>
    <string>{{62,145},{21,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{21,29}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>lddSpriteSheet.png</string>
  </dict>
 </dict>
</plist>
